body {
  background-color: #f4f4f4;
}

.container {
  margin-top: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-link {
  display: flex;
  align-items: center;
}

.dropdown-toggle {
  margin: 0;
  padding: 0;
}
.notification-icon {
  font-size: 24px;
  color: #007bff;
}

.profile-circle-container {
  display: flex;
  align-items: center;
}

.profile-circle {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.profile-circle img {
  width: 100%;
  height: auto;
}

.profile-text {
  margin: 0;
  color: white;
  line-height: 40px;
}

.task-form {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.task-list {
  border: 1px solid #ccc;
  padding: 20px;
  min-height: 300px;
}

.task-list h2 {
  margin-top: 0;
}

.task-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.task-button {
  margin-top: 5px;
}
